.Strain-div {
  text-align: center;
}

.Strain-p {
  font-size: 1.5em;
}

.Strain-img {
  width: 100%;
  height: auto;
}

.Strain-img-cont {
  width: 25%;
  margin: 0 auto;
}

.Strain-back {
  text-decoration: none;
}