.App {
  text-align: center;
  margin: 0 auto;
  width: 94%;
}

.App-header {
  color: #FFFFFF;
}

#App-wrapper {
  height: -100%;
  position: relative;
}

.App-footer {
  color: #FFFFFF;
  padding-top: 65px;
  bottom: 0;
  width: 100%;
}

.App-footer a {
  text-decoration: none;
  color: #FFFFFF;
}

.App-title {
  font-size: 6em;
}

.App-h2 {
  color: #FFFFFF;
  font-size: 3em;
}

.App-intro {
  font-size: large;
}