.h2 {
  color: #FFFFFF;
  font-size: 3em;
  text-align: center;
}

.Index-div {
  padding-top: 2.5%;
  padding-right: 3.5%;
  margin: auto;
  text-align: center;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
}

.Index-ul {
  list-style-type: none;
}

li {
  padding: .15%;
}

.cross {
  color: transparent;  
  text-shadow: 0 0 0 rgb(75,204,40,1);
  font-size: 3em;
  margin-bottom: 1%;
}

.herb {
  font-size: 3em;
  margin-bottom: 1%;
}

.Strain-div {
  text-align: center;
}

.Strain-p {
  font-size: 1.5em;
}