.Btns-div {
  text-align: center;
  max-width: 640px;
  margin: auto;
}

.sativa, .happy, .hybrid, .giggly, .indica, .calm, .cbd, .sleepy, .mc {
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),0 1px 3px rgba(0,0,0,0.4);
}

.sativa, .happy {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5em;
  border: 0;
  border-radius: 25px;
  background-color: #de3c4b;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(222, 60, 75, 1) 100%);
  padding: 10px 20px;
  margin: 10px 10px;
}

.hybrid, .giggly {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5em;
  border: 0;
  border-radius: 25px;
  background-color: #82CAFF;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(130, 202, 255, 1) 100%);
  padding: 10px 20px;
  margin: 10px 10px;
}

.indica, .calm {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5em;
  border: 0;
  border-radius: 25px;
  background-color: #C42788;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(196, 39, 136, 1) 100%);
  padding: 10px 20px;
  margin: 10px 10px;
}

.cbd, .sleepy {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.5em;
  border: 0;
  border-radius: 25px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(134, 231, 184, 1) 100%);
  padding: 10px 20px;
  margin: 10px 10px;
}

.mc {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  border: 0;
  border-radius: 15px;
  background: rgb(75,204,40,1);
  padding: 10px 5px;
  margin: 10px 10px;
}